body {
    font-family: Muli;
    padding-top: 70px;
}


/*Navbar Styling*/

.navbar {
    background-color: rgb(197, 21, 36);
}

#menu-bars {
    color: white;
}

.navbar-toggle {
    border: none;
    outline: none;
}


/*Removes focus highlight from Bootstrap*/

.highlight {
    background: #c51524;
}

.navbar-default .navbar-nav > li > a {
    line-height: 1.6;
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: rgb(197, 21, 36);
    color: white;
}

.navbar-default .navbar-nav > li > a:focus {
    background-color: rgb(197, 21, 36);
    color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: rgb(197, 21, 36);
}

#logo-nav {
    height: 30px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    margin-right: 15px;
    margin-top: -4px;
}

#logo {
    max-width: 300px;
}

#nav-title {
    color: white;
}



/*Navbar Collapse Breakpoint*/

@media (max-width: 970px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
    
    #logo {
        max-width: 30%;
    }
}


/*Welcome Section*/

.welcome-message {
    padding: 5px;
    height: 100vh;
}

#org-link {
    text-decoration: none;
    color: black;
}

.img-style {
    border-style: solid;
    border-color: white;
    border-width: 5px;
}

.content-a {
    opacity: 0;
    transform: translateX(0);
    transition: all 1s ease-out;
}

.content-a.fade-in {
    opacity: 1;
    transform: translateX(0);
}

.content-b {
    opacity: 0;
    transform: translateX(0);
    transition: all 1s ease-out;
}

.content-b.fade-in {
    opacity: 1;
    transform: translateX(0);
}

.moy-content {
    padding: 20px;
}

.moy-quote {
    padding: 20px;
    color: white;
}

#moyyat-pic {
    padding: 10px;
    height: 200px;
    width: auto;
    border-radius: 10%;
}

#william-pic {
    padding: 10px;
    height: 200px;
    border-radius: 10%;
}


/*Video*/

.video {
    background-color: rgb(197, 21, 36);
    padding: 20px;
    height: auto;
    color: white;
    margin-bottom: 25px;
}

.video-section {
    height: auto;
}

.video-container {
    max-width: 500px;
}


/*Ving Tsun Info*/

.vingtsun {
    padding: 20px;
    opacity: 0;
    transform: translateX(0);
    transition: all 1s ease-out;
}

.vingtsun.fade-in {
    opacity: 1;
    transform: translateX(0);
}


/*Class Info*/

.classes {
    padding: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}

.classes.fade-in {
    opacity: 1;
    transform: translateY(0);
}


/*Contact*/

.contact {
    padding: 35px;
}


/*Red Div*/

.red {
    background-color: rgb(197, 21, 36);
    color: white;
    padding: 20px;
}


/*Footer*/

.site-footer {
    margin-bottom: 0px;
}


/*padding stylings*/

.section {
    padding-top: 50px;
    margin-top: -70px;
}
