.red-section {
    background-color: #e04040;
    color: white;
}
.top {
    font-family: Galada;
}

.images-top {
    max-width: 450px;
}

/*Content*/
.section-b {
    background-color: white;
    color: black;
    padding: 20px; 
}

.right-content {
    margin-top: 50px;
}

.footer {
    padding: 20px;
margin-bottom: 0px;
}
