body {
    background-color: black;
    color: white;
    font-family: Verdana;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 12px;
}

.weather-details {
    font-size: 15px;
}

.location {
    height: 75px;
    font-size: 30px;
    font-family: Helvetica;
}

.weatherbox {
    background-color: rgba(179, 0, 0, 0.78);
    height: 490px;
    max-width: 275px;
    border-radius: 30px;
    margin: auto;
    font-size: 15px;
    padding: 20px;
    display: block;
}

.weatherType {
    height: 50px;
    width: 100px;
}

.temp-info {
    background-color: transparent;
    height: 100px;
    color: white;
    font-size: 75px;
    font-family: Avenir;
}
